/* home page */
.home-item {
    margin: 10px;
}
.custom-card-img-top {
    height: 200px;
    object-fit: cover;
}
.card {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.card-body {
    height: 200px;
    object-fit: cover;
    font-weight: 500;
    font-size: 1em;
}
.page-content {
    padding-top: 30px;
}

/* detail page content */
.detail-content h1 {
    padding-bottom: 30px;
}
.detail-content h2 {
    padding-top: 20px;
    border-bottom: 1px solid #dee2e6!important
}
.detail-content pre {
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
}

/* login page */
.login-main {
    width: 400px;
    margin-top: 45px;
}
.login-main .card {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 16px;
}
.login-main header {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 24px;
}
.login-main section {
    width: 300px;
    margin: 10px auto;
}
.login-main .login-main-input {
    margin-top: 10px;
}

/* tag form */
.tag-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.tag-form ul li {
    margin: 0.2em 0.1em;
}
.tag-form input {
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}