@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* base */
* {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    background-color: white;
}
.blog-header {
    background-color: #f5f5f5;
    height: 200px;
    position: relative;
}
.blog-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.blog-title-main {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    margin-bottom: 0px;
}
.blog-title-sub {
    padding-top: 0px;
    color: #666;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}
.page-content {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 30px 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* layout */
.ly_general {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.ly_general:after {
    content: "";
    display: block;
    clear: both;
}
.ly_main {
    width: 70%;
    float:left;
}
.ly_sub {
    padding-left: 30px;
    width: 30%;
    float:left;
}
.ly_linkList {
    margin-top: 30px;
}

/* common block */
.breadcrumbs {
    padding: 0;
}
.breadcrumbs__li {
    display: inline-block;
    padding-left: 10px;
}
.breadcrumbs__li:first-child {
    padding-left: 0;
}
.sub-box {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}
.sub-box__title {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}
.sub-box__divider {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: 4px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.sub-box__image-wrapper img {
    border-radius: 5px;
    width: 70px;
    object-fit: contain;
    float: left;
}
.sub-box__content-wrapper {
    display: inline-block;
    padding-left: 5px;
}
.sub-box__link {
    color: #977d3b;
    transition: 0.3s;
    display: inline-block;
}
.sub-box__link:hover,
.sub-box__link:focus {
    color: black;
}
.sub-box__name {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.sub-box__text {
    font-size: 0.9rem;
}
.sub-box__link-list {
    list-style: none;
    padding-left: 0px;
}
.sub-box__link-item {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}
.sub-box__link-item a {
    text-decoration: none;
}

/* home page */
.bl_card_width {
    margin-bottom: 20px;
    border: 0px solid black;
    border-radius: 6px;
    box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;
}
.bl_card_width a {
    width: 100%;
    height: 100%;
    position: absolute;
}
.bl_card_width:after {
    content: "";
    display: block;
    clear: both;
}
.bl_card_width_image_wrapper, 
.bl_card_width_content_wrapper {
    float: left;
}
.bl_card_width_image_wrapper {
    width: 30%;
    padding-top: 20px;
    max-height: 250px;
}
.bl_card_width_content_wrapper {
    width: 70%;
    height: inherit;
    padding: 20px 20px 20px 0px;
}
.bl_card_width_image_wrapper img {
    object-fit: cover;
    padding: 0px 30px 30px 30px;
    width: 100%;
    height: auto;
    object-position: center center;
}
.bl_card_width_content_wrapper .title {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 10px;
}
.bl_card_width_content_wrapper .detail {
    font-size: 13px;
    color: rgb(121, 121, 121);
    text-overflow: ellipsis;
}
.bl_card_width_content_wrapper ul {
    padding-left: 0px;
}
.bl_card_width_content_wrapper .tags {
    height: 20%;
    padding-top: 20px;
}
.subTitle {
    display: inline;
    font-size: 17px;
    font-weight: bold;
    color: gray;
}
.tags__ul {
    padding-left: 0;
}
.tag {
    display: inline;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: bold;
}
.bg_black {
    background-color: black;
    color: white;
}
.bg_classic {
    background-color: rgb(183, 128, 55);
    color: white;
}

/* detail page content */
.detail-content .thumbnail-image {
    height: 400px; 
    object-fit: contain;
    object-position: left;
}
.detail-content h2 {
    padding-top: 20px;
    border-bottom: 3px solid #dee2e6!important
}
.detail-content h3 {
    padding-top: 20px;
    border-bottom: 1px solid #dee2e6!important
}
.detail-content pre {
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 13px;
}
.content-attribute {
    vertical-align:middle;
    font-weight: 500;
    color: gray;
}

blockquote{
    position:relative;
    border-left:3px solid #24264e;
}
blockquote:before{
    position:absolute;
    font-family:'FontAwesome';
    font-size: 20px;
    color:#24264e;
}
blockquote p{
    position:relative;
    padding-left:10px;
}
blockquote cite{
    display: block;
    font-size:0.8rem;
    color:#24264e;
    text-align:right;
}

/* login page */
.login-main {
    width: 400px;
    margin-top: 45px;
}
.login-main .card {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 16px;
}
.login-main header {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 24px;
}
.login-main section {
    width: 300px;
    margin: 10px auto;
}
.login-main .login-main-input {
    margin-top: 10px;
}

/* tag form */
.tag-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.tag-form ul li {
    margin: 0.2em 0.1em;
}
.tag-form input {
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}