{% extends 'blog/base.html' %}
{% block title %}{{ post_item.title }}{% endblock %}
{% block content %}
<ol class="breadcrumbs">
    <li class="breadcrumbs__li">
        <a href="{{ url_for('blog.index') }}">Home</a>
    </li>
    <li class="breadcrumbs__li">/</li>
    <li class="breadcrumbs__li">{{ post_item.title }}</li>
</ol>
<div class="detail-content">
    <h1 class="fw-bold">{{ post_item.title }}</h1>
    <div class="tags">
        <ul class="tags__ul">
            <li class="subTitle">
                {{ post_item.created_at.strftime('%Y.%m.%d') }}
            </li>
            {% for tag in post_item.post_tags %}
            <li class="tag bg_black">{{ tag.tag_name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-flex flex-column">
        <img class="thumbnail-image" src="{{ post_item.thumbnail_image_name|thumbnail_image_file_storage_public }}">
    </div>
    {{ md_content }}
</div>
{% endblock %}