{% extends 'blog/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-6">Activity</h1>
    <div class="row">
        {% for post_item in post_items %}
        <div class="col-md-4 mb-3">
            <div class="card text-dark">
                <img 
                    src="{{ post_item.thumbnail_image_name|thumbnail_image_file_storage_public }}" 
                    class="card-img-top custom-card-img-top"
                    alt="thumbnail"
                >
                <div class="card-body" style="overflow: hidden;">
                    <h4 class="card-title">{{ post_item.title }}</h5>
                    <ul class="list-inline">
                        {% for tag in post_item.post_tags %}
                        <span class="badge bg-dark">{{ tag.tag_name }}</span>
                        {% endfor %}
                    </ul>
                    <p class="card-text">{{ post_item.description + '...' }}</p>
                </div>
                <a href="{{ url_for('blog.edit_item', post_item_id=post_item.id) }}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}