<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{ config['APP_TITLE'] }}</a>
            </div>
        </div>
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>