{% extends 'admin/base.html' %}
{% block title %}ログイン{% endblock %}
{% block content %}
    <div class="mx-auto">
        <div class="card">
            <header>ログイン</header>
            <section>
                <form action="{{ url_for('admin.login') }}" method="POST" novalidate="novalidate">
                    {% for message in get_flashed_messages() %}
                    <span>{{ message }}</span>
                    {% endfor %}
    
                    {{ form.csrf_token }}
    
                    {{ form.email(placeholder='メールアドレス') }}
                    {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
    
                    {{ form.password(placeholder='パスワード') }}
                    {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
    
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </section>
        </div>
    </div>
{% endblock %}